:root {
    --top-bg-clr: #2ea1df;
    --bottom-bg-clr: #2ea1df;
    --base-text-clr: black;
}
.dark {
    --top-bg-clr: #020610;
    --bottom-bg-clr: #172b4d;
    --base-text-clr: white;
}



// Colors
$clr1: white;
$clr2: #00000026;

