.app-header {
    background-color: var(--bottom-bg-clr);
    box-shadow: 0 1px 5px 0px #00000075;
    height: 8vh;
    z-index: 2;
    width: 100vw;
    letter-spacing: 2px;
    top: 0;
    transition: background-color 0.5s;
    color: $clr1;
    .inner-div {
        width: 100%;
    }
    .nav-links {
        float: right;
        gap: 50px;
    }
    .active-link {
        font-weight: bold;
    }
}
