.city-preview {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #d2d0d0;
    }
    p {
        transition: 0.1s;
        margin: 0;
    }
    &:last-child {
        border-radius: 0 0 3px 3px;
    }
}
