.day-preview {
    box-shadow: 5px 7px 20px 0px $clr2;
    .details {
        height: 20vh;
        background-color: #dddde1e8;
        .date {
            margin-bottom: 5%;
        }
    }
    .img {
        background-color: #dbdcddad;
        img {
            width: 85%;
            margin: 3% 7%;
        }
    }
}